// Overrides

.section {
  background-color: $grey-darker;
}

.hero {
  background-color: $grey-dark;
}

.content blockquote {
  border-color: $grey;
}

.button {
  &.is-active,
  &.is-focused,
  &:active,
  &:focus {
    box-shadow: 0 0 0 2px rgba($button-focus-border-color, 0.5);
  }

  &.is-loading:after {
    border-color: transparent transparent $button-border-color
      $button-border-color;
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      &.is-hovered,
      &:hover {
        background-color: lighten($color, 7.5%);
      }

      &.is-active,
      &.is-focused,
      &:active,
      &:focus {
        border-color: $color;
        box-shadow: 0 0 0 2px rgba($color, 0.5);
      }
    }
  }
}

.label {
  color: $grey-lighter;
}

.progress {
  &::-webkit-progress-value {
    background-color: $grey;
  }

  &::-moz-progress-bar {
    background-color: $grey;
  }
}

// .card {
//   $card-border-color: lighten($grey-darker, 5);
//   border: $border-width solid $card-border-color;
// }

.notification {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      a:not(.button) {
        color: $color-invert;
      }
    }
  }
}

.modal-card-body {
  background-color: $grey-darker;
}

.modal-card-foot,
.modal-card-head {
  border-color: $grey-dark;
}

.message-body {
  border-color: $grey;
}

.navbar {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      @include touch {
        .navbar-item,
        .navbar-link {
          color: rgba($color-invert, 0.75);

          &.is-active {
            color: $color-invert;
          }
        }
      }
    }
  }
}
