////////////////////////////////////////////////
// DARKLY
////////////////////////////////////////////////
$white: #FFFFFF;
$grey-lighter: #fdf6e3;
$grey-light: #eee8d5;
$grey: #839496;
$grey-alt: #586e75;
$grey-dark: #303030;
$grey-darker: #1e1e1e;

$orange: #cb4b16;
$yellow: #b58900;
$cyan: #2aa198;
$blue: #268bd2;
$purple: #6c71c4;

$black-bis: rgb(18, 18, 18);

//$primary: $cyan !default;
$warning: $red;
$info: $blue;
$yellow-invert: #fff;

$light: $grey-lighter;
$dark: darken($grey-darker, 3);

$subtitle-color: $grey-dark;

$border: $grey-dark;

$body-background-color: $grey-darker;
$background: $grey-dark;
$footer-background-color: $background;

$title-color: $white;
$subtitle-color: $white;
$subtitle-strong-color: $white;

$text: $white;
$text-light: $text;
$text-strong: $text;

$code: $text;

$box-shadow: none;
$box-background-color: $grey-dark;

$card-shadow: none;
$card-background-color: $grey-darker;
$card-header-box-shadow: none;
$card-header-background-color: rgba($black-bis, 0.2);
$card-footer-background-color: rgba($black-bis, 0.2);

$link: $yellow;
$link-hover: $grey-light;
$link-hover-border: $grey-light;
$link-focus: darken($grey-light, 10);
$link-focus-border: $grey-light;
$link-active: darken($grey-light, 10);

$button-color: $text;
$button-background-color: $background;
$button-border-color: $text;

$input-color: $grey;
$input-icon-color: darken($grey-light, 10);
$input-background-color: $grey-lighter;
$input-border-color: darken($grey-light, 10);
$input-hover-color: $grey-light;
$input-disabled-background-color: $grey-dark;
$input-disabled-border-color: $grey-dark;

$table-color: $text;
$table-head-color: $grey-lighter;
$table-background-color: $grey-dark;
$table-cell-border: 1px solid $grey;

$table-row-hover-background-color: $grey-darker;
$table-striped-row-even-background-color: $grey-darker;
$table-striped-row-even-hover-background-color: lighten($grey-darker, 4);

$pagination-border-color: $border;

$navbar-background-color: $grey-dark;
$navbar-item-color: $text;
$navbar-item-hover-color: lighten($secondary, 40);
$navbar-item-active-color: lighten($primary, 7);
$navbar-item-active-background-color: transparent;
$navbar-item-hover-background-color: transparent;
$navbar-dropdown-border-top: 1px solid $grey-darker;
$navbar-divider-background-color: $grey-darker;
$navbar-dropdown-arrow: #fff;
$navbar-dropdown-background-color: $grey-dark;
$navbar-dropdown-item-hover-color: $grey-lighter;
$navbar-dropdown-item-hover-background-color: lighten($grey-darker, 4);
$navbar-dropdown-item-active-background-color: lighten($grey-darker, 4);
$navbar-dropdown-item-active-color: $grey-lighter;

$dropdown-content-background-color: $background;
$dropdown-item-color: $text;
$dropdown-item-hover-color: $link-hover;
