$green: #28965A;
$dark-blue: #2B4162;
$light-blue: #0B5983;
$red: #C84630;

$primary: $green;
$secondary: $dark-blue;

$family-sans-serif: "Fira Sans";

.content blockquote p {
  margin: 0 !important;
}