@import "./colors.scss";
@import "./_vendor/dark/variables";

@import "./_vendor/bulma/bulma.sass";
@import "./zulma";

@import "./_vendor/dark/overrides";

.hero.is-primary.is-bold {
  $color: $primary;
  $gradient-top-left: darken(saturate(adjust-hue($color, -10deg), 10%), 10%);
  $gradient-bottom-right: lighten(saturate(adjust-hue($color, 10deg), 5%), 0%);
  background-image: linear-gradient(141deg, $gradient-top-left 0%, $color 71%, $gradient-bottom-right 100%);
}

// .is-secondary {
//   background-color: $secondary;
//   color: $white;
//   .title {
//     color: $white;
//   }
// }

// .section.is-secondary.is-bold {
//   background: $secondary;
// }

.image {
  filter: invert(1) hue-rotate(180deg) brightness(1.1);
}
