@import "./colors.scss";

$link: #3e8ed0;

@import "./_vendor/bulma/bulma.sass";
@import "./zulma";

.is-secondary {
  background-color: $secondary;
  color: $white;
  .title {
    color: $white;
  }
}

.section.is-secondary.is-bold {
  $color: $secondary;
  $gradient-top-left: darken(saturate(adjust-hue($color, -10deg), 10%), 10%);
  $gradient-bottom-right: lighten(saturate(adjust-hue($color, 10deg), 5%), 5%);
  background-image: linear-gradient(141deg, $gradient-top-left 0%, $color 71%, $gradient-bottom-right 100%);
}