{% import "post_macros.html" as post_macros %}
{% import "index_macros.html" as index_macros %}

<!DOCTYPE html>
<html>

<head>
    {% block head %}
    {{ index_macros::header() }}

    <title>
        {% block title %}{{ config.title }}{% endblock title %}
    </title>

    {{ index_macros::css() }}

    {% if config.generate_rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") | safe }}">
    {% endif %}

    {% if config.build_search_index %}
    <script defer type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") }}"></script>
    <script defer type="text/javascript" src="{{ get_url(path="search_index.en.js") }}"></script>
    {% endif %}

    {% block extra_head %}
    {% endblock extra_head %}

    <noscript>
        <style>
            .navbar-menu {
                display: block;
            }

            .js-only {
                display: none;
            }
        </style>
    </noscript>
    {% endblock head %}
</head>

<body>
    {% block body%}
    {% block content %}
    <!-- START NAV -->
    {% block header %}
    {{ index_macros::navbar() }}
    {% endblock header %}
    <!-- END NAV -->
    <main class="index">
        <!-- START HERO TITLE -->
        {% if config.extra.zulma_title %}
          {% if config.extra.zulma_subtitle %}
            {{ index_macros::hero_with_subtitle(title=config.extra.zulma_title, subtitle=config.extra.zulma_subtitle, primary=true) }}
          {% else %}
            {{ index_macros::hero(title=config.extra.zulma_title, primary=true) }}
          {% endif %}
        {% endif %}
        <!-- END HERO TITLE -->
        <!-- <section class="section py-2"> -->
        <!--   <div class="container"> -->
            <!-- START ARTICLE FEED -->
        <!--     {% if paginator %} -->
        <!--     {{ index_macros::list_articles(pages=paginator.pages) }} -->
        <!--     {% else %} -->
        <!--     {{ index_macros::list_articles(pages=section.pages) }} -->
        <!--     {% endif %} -->
            <!-- END ARTICLE FEED -->
            <!-- START PAGINATION -->
        <!--     {% if paginator %} -->
        <!--     {{ index_macros::paginate(paginator=paginator) }} -->
        <!--     {% endif %} -->
            <!-- END PAGINATION -->
        <!--   </div> -->
        <!-- </section> -->
        <section class="section">
          <div class="container">
            <h1 class="title is-2">
              Our motivation
            </h1>
            <div class="content is-size-5">
              <p>
                For decades, many governments have silently tolerated that the internet is no safe place for children.
                Studies have shown that most children have been exposed to pornography by the age of only 13, most often by accident.<sup><a href="#footnote-1">[1]</a></sup>
              </p>
              <p>
                Considering the harm that pornography can inflict, especially on children, we believe that the status quo is not acceptable.
                Children must be protected from harmful content with effective measures.
              </p>
              <p>
                Yet, any solution to this problem must be designed carefully as it's easy to harm privacy trying to address this problem.
                Sadly, age verification for online services isn't as unproblematic as showing an ID card at a liquor store.
                On the internet, activities can be tracked and stored for years and sensitive data might be leaked.
              </p>
            </div>
            <h1 class="title is-2">
              Our vision
            </h1>
            <div class="content is-size-5">
              <p>
                Currently, the internet is unsafe by default. We want to make it <b>safe by default</b>.
              </p>
              <p>
                Our vision is to create a solution that is effective and easy to implement while preserving privacy.
                Further, the solution should be easy to enforce by governments.
              </p>
              <p>
                By extending HTTP, the protocol that powers most of the internet, we can archive a solution that fulfills all of our requirements.
                The basic idea allow websites to tell clients whether their content is safe or not - users still have full control.
              </p>
            </div>
            <h1 class="title is-2" id="how-it-works">
              How it works
            </h1>
            <div class="columns is-8">
              <div class="column">
                <div class="content is-size-5">
                  <p>
                    A new specification for HTTP can define how websites communicate whether or not they serve inappropriate content.
                    Clients, such as web browsers, can then decide to show or discard the content based on a preference of the user.
                  </p>
                  <p>
                    Let's break it down into a small example.
                    If you browse an online blog, your browser might send a request asking "Hey blog, could you send me this post?".
                    With the new specification, the blog will either respond with "Sure, everything is safe, here's the post" or "Here's the post, but be aware that it might contain inappropriate content".
                    Based on your preferences, the browser will then show or hide the post.
                  </p>
                </div>
              </div>
              <div class="column is-one-fourth-desktop is-one-half-tablet">
                <video controls>
                  <source src="/videos/SII.mp4" type="video/mp4" />
                  <source src="/videos/SII.webm" type="video/webm" />
                  <p>Your browser doesn't support HTML5 video. Here is a <a href="/videos/SII.mp4">link to the video</a> instead.</p>
                </video>
              </div>
            </div>
            <div class="content is-size-6">
              <p id="footnote-1">
                [1]
                <a href="https://www.bbfc.co.uk/about-classification/research">
                  Young People, Pornography and Age-verification (2020)
                </a>
              </p>
            </div>
          </div>
        </section>
        <section class="is-bold section is-secondary">
          <div class="container">
            <h1 class="title is-2">
              Why is this a great solution?
            </h1>
            <div class="content is-size-5">
              <ul>
                <li class="mb-3">
                  <b>
                    It's part of the internet.
                  </b>
                  <p>
                    It's not a filter list or an add-on, but part of the HTTP protocol and therefore available for everyone.
                  </p>
                </li>
                <li class="mb-3">
                  <b>
                  It's simple to implement.
                  </b>
                  <p>
                    Most websites will only require minimal changes to support the specification.
                    Web browsers, too, can easily support it.
                  </p>
                </li>
                <li class="mb-3">
                  <b>
                    It's accurate.
                  </b>
                  <p>
                    Websites like Reddit or Twitter are hard to block effectively with filter lists.
                    With our approach, websites can define precisely which parts of their content are not safe.
                  </p>
                </li>
                <li class="mb-3">
                  <b>
                    It protects your privacy.
                  </b>
                  <p>
                    For websites, browsers with different preferences look identical.
                  </p>
                </li>
                <li class="mb-3">
                  <b>
                    It can be enforced by lawmakers.
                  </b>
                  <p>
                    Governments can demand that websites comply with the specification so they don't label unsafe content as safe.
                    Since it's easy to implement, that's not a difficult demand and lawmakers should face few problems.
                    <a href="/make-a-change#politicians">Read more</a>.
                  </p>
                </li>
                <li class="mb-3">
                  <b>
                    No censorship.
                  </b>
                  <p>
                    Anyone with an administrative account will be able to change their setting to display all content if they want. Governments can't use it for censorship.
                  </p>
                </li>
                <li class="mb-3">
                  <b>
                    It can be the new default.
                  </b>
                  <p>
                    The specification can be introduced gradually until it's supported by default on most websites and browsers and blocking unsafe content becomes the default setting.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </section>

        <section class="section">
          <div class="container">
            <h1 class="title is-2">
              How can I get involved?
            </h1>
            <div class="content is-size-5 pt-5">
              <div class="columns">
                <div class="column is-clickable" onclick="join_handler(event)">
                  <div class="notification is-primary" style="height: 100%;">
                    <h4 class="title is-4">
                      Join our team
                      <span class="mdi mdi-email-plus is-pulled-right"></span>
                    </h4>
                    <p>
                      Everyone is welcome to join our team!
                      Even small contributions are highly appreciated.
                    </p>
                    <p>
                      If you want to help us with outreach, development, design or any other topic let us know!
                      <!-- If you want to help us regarding outreach, development, design, content, management or any other topic let us know! -->
                    </p>
                  </div>
                </div>
                <div class="column is-clickable" onclick="contact_handler(event)">
                  <div class="notification is-primary" style="height: 100%;">
                    <h4 class="title is-4">
                      Contact us
                      <span class="mdi mdi-email-plus is-pulled-right"></span>
                    </h4>
                    <p>
                      We're happy to hear from you!
                    </p>
                    <p>
                      If you have any questions, feedback or suggestions, or you just want to get to know us, do not hesitate to contact us.
                    </p>
                  </div>
                </div>
                <div class="column">
                  <a href="/make-a-change">
                    <div class="notification is-primary" style="height: 100%;">
                      <h4 class="title is-4">
                        Learn more
                        <span class="mdi mdi-open-in-new is-pulled-right"></span>
                      </h4>
                      <p>
                        Find out more about our goals and what you can do to make the internet a safer place.
                      </p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
    </main>
    {% endblock content %}
    {% block footer %}
    {{ index_macros::footer() }}
    {% endblock footer %}

    <script type="text/javascript" src="{{ get_url(path="js/zulma_navbar.js") }}"></script>

    {% if config.build_search_index %}
    <script type="text/javascript" src="{{ get_url(path="js/zulma_search.js") }}"></script>
    {% endif %}

    {% endblock body%}
</body>

</html>
