{% import "post_macros.html" as post_macros %}
{% import "index_macros.html" as index_macros %}

<!DOCTYPE html>
<html>

<head>
    {% block head %}
    {{ index_macros::header() }}

    <title>
        {% block title %}{{ config.title }}{% endblock title %}
    </title>

    {{ index_macros::css() }}

    {% if config.generate_rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") | safe }}">
    {% endif %}

    {% if config.build_search_index %}
    <script defer type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") }}"></script>
    <script defer type="text/javascript" src="{{ get_url(path="search_index.en.js") }}"></script>
    {% endif %}

    {% block extra_head %}
    {% endblock extra_head %}

    <noscript>
        <style>
            .navbar-menu {
                display: block;
            }

            .js-only {
                display: none;
            }
        </style>
    </noscript>
    {% endblock head %}
</head>

<body>
    {% block body%}
    {% block content %}
    <!-- START NAV -->
    {% block header %}
    {{ index_macros::navbar() }}
    {% endblock header %}
    <!-- END NAV -->
    <main class="index">
        <!-- START HERO TITLE -->
        {% if config.extra.zulma_title %}
        {{ index_macros::hero(title=config.extra.zulma_title, primary=true) }}
        {% endif %}
        <!-- END HERO TITLE -->
        <section class="section py-2">
          <div class="container">
            <!-- START ARTICLE FEED -->
            {% if paginator %}
            {{ index_macros::list_articles(pages=paginator.pages) }}
            {% else %}
            {{ index_macros::list_articles(pages=section.pages) }}
            {% endif %}
            <!-- END ARTICLE FEED -->
            <!-- START PAGINATION -->
            {% if paginator %}
            {{ index_macros::paginate(paginator=paginator) }}
            {% endif %}
            <!-- END PAGINATION -->
          </div>
        </section>
    </main>
    {% endblock content %}
    {% block footer %}
    {{ index_macros::footer() }}
    {% endblock footer %}

    <script type="text/javascript" src="{{ get_url(path="js/zulma_navbar.js") }}"></script>

    {% if config.build_search_index %}
    <script type="text/javascript" src="{{ get_url(path="js/zulma_search.js") }}"></script>
    {% endif %}

    {% endblock body%}
</body>

</html>
