{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}
{% import "index_macros.html" as index_macros %}

{% block content %}
<!-- START NAV -->
{% block header %}
{{ super() }}
{% endblock header %}
<!-- END NAV -->
<main>
  <!-- START HERO TITLE -->
  {% if section.extra.zulma_title %}
    {{ index_macros::hero(title=section.extra.zulma_title, primary=true) }}
  {% endif %}
  <!-- END HERO TITLE !-->
  {% if section.toc %}
  <section class="section pb-0">
    <div class="container">
      <div class="menu">
        <p class="menu-label">
          {{ section.extra.toc_title }}
        </p>
        <ul class="menu-list">
          {% for h1 in section.toc %}
          <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
            <ul>
              {% for h2 in h1.children %}
              <li>
                <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
  {% endif %}
  <section class="section">
    <div class="container">
      <div class="content is-size-5">
        {{ section.content | safe }}
      </div>
    </div>
  </section>
</main>
{% endblock content %}
